@font-face{
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");

    font-family: Cardo;
    src: url("/fonts/Cardo-Regular.ttf");
}

.container{
    color: #1E1E1E;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-top: 100px;
    width: 1280px;
}

.header{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 11px;

    display: flex;
    flex-direction: row;
    justify-content: end;

    column-gap: 100px;
    margin-bottom: 130px;
}

.button{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;

    border: 1px inside;
    border-radius: 50px;
    border-color: #9B9B9B;
    background-color: white;

    text-align: center;
    width: 300px;
    height: 60px;

    align-self: flex-end;

    margin-bottom: 90px;
}

.title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 46px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: auto;
    margin-bottom: 30px;
    width: 780px;

    text-align: center;
    line-height: 1.2;
}

.info-bar{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: #9B9B9B;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 40px;

    column-gap: 20px;
}

.author{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.toolbar{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-bottom: 20px;

    column-gap: 10px;
}

.toolbar-button{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;

    border: none;
    background-color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.image{
    width: 1280px;
    height: 720px;

    margin-bottom: 80px;
}

.text{
    font-family: Cardo;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: auto;
    width: 780px;

    margin-bottom: 100px;

    text-align: justify;
    line-height: 1.9;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 100px;
}

.footer-button{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 34px;

    border: none;
    background-color: white;
}

.modal{
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 150px;
    width: 100%;
    height: 100%;
}

.modal-title{
    font-family: Montserrat;
    font-size: 46px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 50px;
}

.modal-content{
    background-color: white;
    margin: auto;
    border: 1px inside #9B9B9B;
    box-shadow: 0 0 26px 6px rgba(0,0,0,0.2),0 0 26px 1000px rgba(0,0,0,0.3);
    width: 1000px;
    height: 750px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    row-gap: 25px;
    column-gap: 50px;

    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
}


input[type="text"]{
    font-family: Cardo;
    font-size: 16px;
    color: #9B9B9B;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    flex-basis: 350px;
}